/*----------------------------configuracion-------------------------------------*/

<<<<<<< HEAD
=======

>>>>>>> 33b016ac4c57875b64afd8fb8dae5bd468cb88ce
.config-container {
    max-width: 400px;
    margin: 0 auto;
}

#config input[type="text"],
     select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
}
<<<<<<< HEAD

        
.cambiarcontraseña {
    width: 100%;
    padding: 8px;   
}

=======
>>>>>>> 33b016ac4c57875b64afd8fb8dae5bd468cb88ce
