/*----------------------------configuracion-------------------------------------*/

.config-container {
    max-width: 400px;
    margin: 0 auto;
}

#config input[type="text"],
     select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
}

        
.cambiar {
    width: 100%;
    padding: 8px;   
}
