
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: $font-main;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: $padding-global;
}
